:root{
  --mode:0;
  --background: white;
  --textColor: black;
  --barColor: rgb(224, 224, 224);
  --barText: black;
  --boxColor: white;
  --highlight: var(--barColor)
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--textColor);
}

.flex-container{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; FIX */
  justify-content: space-around;
  align-content: center;
  
}

.rules{
  display: none;
  padding-top: 22vh
}

.ruleList{
  list-style-type: square;
  line-height:150%
}

.but{
  color: var(--textColor);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8vh;
  background-color: var(--barColor);
  border-color: var(--boxColor);
}

.but:hover{
  background-color: rgb(54, 54, 54);
  color: white;
}

/* WHY ISNT THIS CENTERING??????????????????? */
.butDiv{
  position: static;
  align-items: center;
  text-align:center;
}

/* Menu */
.navBar{
  width: 100vw;
  text-align: center; 
  background-color: var(--barColor);

}

span{
  background-color: var(--barColor);
  color: var(--barText);
  padding-top: 10px;
  padding-bottom: 10px;
}

.empty1{
  display: inline-block;
  width: 42vw;
}
.wordle{
  display: inline-block;
  width: 10vw;
}
.empty2{
  display: inline-block;
  width: 28vw;
}
.sign1{
  display: inline-block;
  width: 5vw;
}
.sign1:hover{
  background-color: rgb(95, 95, 95);
  color: rgb(235, 235, 235);
  text-decoration: none;
}
.sign2{
  display: inline-block;
  width: 5vw;
}
.sign2:hover{
  background-color: rgb(54, 54, 54);
  color: rgb(235, 235, 235);
  text-decoration: none;
}
.sign3{
  display: inline-block;
  width: 5vw;
}
.sign3:hover{
  background-color: rgb(54, 54, 54);
  color: rgb(235, 235, 235);
  text-decoration: none;
}


/* Table */
/* maybe set these here so they stay */
.mainTable tbody tr:nth-child(1) td:nth-child(1) {background-color: var(--11);}
.mainTable tbody tr:nth-child(1) td:nth-child(2) {background-color: var(--12);}
.mainTable tbody tr:nth-child(1) td:nth-child(3) {background-color: var(--13);}
.mainTable tbody tr:nth-child(1) td:nth-child(4) {background-color: var(--14);}
.mainTable tbody tr:nth-child(2) td:nth-child(1) {background-color: var(--21);}
.mainTable tbody tr:nth-child(2) td:nth-child(2) {background-color: var(--22);}
.mainTable tbody tr:nth-child(2) td:nth-child(3) {background-color: var(--23);}
.mainTable tbody tr:nth-child(2) td:nth-child(4) {background-color: var(--24);}
.mainTable tbody tr:nth-child(3) td:nth-child(1) {background-color: var(--31);}
.mainTable tbody tr:nth-child(3) td:nth-child(2) {background-color: var(--32);}
.mainTable tbody tr:nth-child(3) td:nth-child(3) {background-color: var(--33);}
.mainTable tbody tr:nth-child(3) td:nth-child(4) {background-color: var(--34);}
.mainTable tbody tr:nth-child(4) td:nth-child(1) {background-color: var(--41);}
.mainTable tbody tr:nth-child(4) td:nth-child(2) {background-color: var(--42);}
.mainTable tbody tr:nth-child(4) td:nth-child(3) {background-color: var(--43);}
.mainTable tbody tr:nth-child(4) td:nth-child(4) {background-color: var(--44);}


.mainTable{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}
.tableDiv{
  padding-top: 12vh;
}
td{
  height: 100px;
  width: 100px;
  font-size: 80px;
}

th, td {
  border: 1px solid;
  border-radius: 5px
}
.hintDiv{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--barColor);
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.hintSpan{ 
  background-color: var(--highlight);
  padding-left: 10px;
  padding-right: 10px;
}



/*  
*{
  outline: 1px dashed grey
}  
*/